<!DOCTYPE html>
<html>
<head>
  <title>Mail Me</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="assets/home.css">
</head>
<body>

<%= yield %>

</body>
</html>
